@{
    ViewBag.Title = "Index";
}

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Dashboard", "Dashboard")</li>
            <li>@Html.ActionLink("New Lab", "Index", "NewLabs")</li>
            <li>@Html.ActionLink("My Labs", "Index", "MyLabs")</li>
            <li>@Html.ActionLink("History", "Dashboard")</li>
            <li>@Html.ActionLink("Billings", "Dashboard")</li>
            <li>@Html.ActionLink("Help", "Dashboard")</li>
        </ul>
        </div>
   <hr /> 
        <h2>Index</h2>
